body{
    margin: 0;
}
header{
    height: 15vh;
    background: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    text-decoration: none;
    color:  #333;
    margin-right: 70px;
}
.menu{
    width: 60vw;
    display: flex;
    justify-content: flex-start;
}
.icon{
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}